/*This is the stylesheet for main.html*/
/*import google font poppins*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    font-family: montserrat;  
}
nav{
  /*It is used to set the color,height and width of the navbar*/
    background: #fb5283;
    height: 80px;
    width: 100%;
}
label.logo{
  /*It is used to style the text in the navbar*/
    color: white;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
/*This three section nav ul,ul li, ul li a style the navigation button*/
nav ul{
    float:right;
    margin-right: 20px;  
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:white;
    font-size: 17px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
}
/*This portion style the choose file button*/
#choose_file{
  width: 300px;
  background: white;
  border: none;
  outline: none;
  box-shadow: 2px 5px 2px #fb5283;
  border-radius: 50px;
  position: relative;
  top: 100px;
  left:530px;
}

/*This style the pedict image button*/
#new{
  background: #fb5283;
  border: none;
  top: 100px;
  position: relative;
  left: 600px;
}

::-webkit-file-upload-button{
  border: none;
  background: #fb5283;
}
::-webkit-file-upload-button{
  border: none;
  background: #fb5283;
}