<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicted result</title>
    <!--Link external stylesheet styles.css present in static file-->
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    <!-- Link CSS Bootstrap Stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <nav>
        <label class="logo">A NOVEL METHOD FOR HANDWRITTEN DIGIT RECOGNITION SYSTEM</label>
        <ul>
            <!--Using this Home button in navbar we can return to home page-->
            <!--Using this Recognition button in navbar we can return to recognition page-->
            <!--This home function call index.html using app.py-->
            <li><a class="active" href="{{ url_for('home') }}">Home</a></li>
        </ul>
       <ul>
            <!--This main function call main.html using app.py-->
            <li><a class="active" href="{{ url_for('main') }}">Recognition</a></li>
        </ul>
    </nav>
<div class = "image">
    <!--This three result is show if the  predicted value is three-->
    <img src="{{url_for('static',filename='image/THREE.png')}}" alt="number image" class="num_img">

</div>
</body>
</html>